 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  
  .home_Session {
    background-color: #ffffff;   
    padding: 60px 20px;  
    text-align: center; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);  
    margin-top: 50px;  
  }
  
 
  .Main_Headerline {
    margin-bottom: 40px;  
  }
  
  h1 {
    font-size: 36px;
    font-weight: 700;
    color: red; 
    margin-bottom: 20px; 
    line-height: 1.4;
  }
  
  p {
    font-size: 18px;
    color: black;
    line-height: 1.6;
    margin-bottom: 40px;  
  }
  
 
  
  .btn {
    display: flex;
    gap: 20px;  
    justify-content: center;
    

  }
  
  
  button {
    font-size: 16px;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    

  }
    $red: #ff0000;
    $yellow: #ffcc00;

  
  .bt1 {
  
    background: linear-gradient(to right, $red, $yellow);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

&:hover {
        background: linear-gradient(to bottom left, darken($yellow, 2%), darken($red, 2%));
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(255,255,255,0.3);


    
    }
  }
  
  
  .bt2 {
    background: linear-gradient(to right, $red, $yellow);
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

&:hover {
        background: linear-gradient(to bottom left, darken($yellow, 2%), darken($red, 2%));
        transform: scale(1.05);
        box-shadow: 0 4px 10px rgba(255,255,255,0.3);


    
    }
  }
  